dropbox~=12.0.2
openpyxl~=3.1.5
click~=8.1.8
colorama
jinja2~=3.1.6
loguru~=0.7.3
numpy~=2.2.4
beautifulsoup4~=4.13.3
pandas~=2.2.3
matplotlib~=3.10.1
requests~=2.32.3
PyYAML~=6.0.2
pydantic~=2.11.7
pydantic-settings~=2.10.1